body {
    font-family:Roboto;
}

.section{
    padding-top:12px;
    padding-bottom:12px;
}
#gui{
    max-width:600px;
}

#app{
    max-width:600px;
}


#fileInput{
    width:100%;
}

.slider input{
    width:100%;
}

input .percent{
    width:30px;
}

.hidden{
    display:none;
}

.column{
    padding:8px;
}

.button{
    width:100%;
}